# 忽略生成文件
*.vcd
*.vpk
*.log
*.bin
*.vjs_c
*.vcss_c
/bin/

# 忽略VSCode工作区设置
.vscode/launch.json
.vscode/tasks.json
content/test2/maps/dota.vmap
game/test2/tools_thumbnail_cache.bin

# 忽略 VS 工作区设置
.vs/
game/test2/tools_asset_info.bin
