.CameraControlPanel {
    width: 600px;
    height: 950px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000cc ), to( #000000cc ) );
    border: 2px solid #444444;
    border-radius: 8px;
    x: 100px;
    y: 100px;
    flow-children: down;
    padding: 10px;
}

.CameraControlPanel.hidden {
    visibility: collapse;
}

.CameraControlHeader {
    width: 100%;
    height: 40px;
    flow-children: right;
}


.DotaCamSettings_ConfirmButton {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #444444 ) );
    border-radius: 4px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.DotaCamSettings_ConfirmButton:hover {
    brightness: 1.2;
}

.DotaCamSettings_ConfirmButton:active {
    brightness: 1.5;
    sound: "ui_generic_button_click";
}

.FogToggle Label
{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
}

.DotaCamSettings_ConfirmButton Label {

    color: #ffffff;
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.BasicSettingsControls {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
    padding: 5px;
}

.DefaultDistanceRow,
.FogControlRow {
    width: 100%;
    height: 40px;
    flow-children: right;

}
.DefaultDistanceRow {
    width: 100%;
    height: 40px;
    flow-children: right;
    margin-bottom: 10px;
}


.DefaultDistanceRow #ApplyDistanceButton {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: center;
}

.DefaultDistanceRow #ApplyDistanceButton Label {
    font-size: 14px;
    horizontal-align: center;
    vertical-align: center;
}

.DefaultDistanceRow Label,
.FogControlRow Label {
    width: 80px;
    color: #ffffff;
    font-size: 14px;
    vertical-align: center;
}

.RangeHintLabel {
    width: 100px;
    color: #999999;
    font-size: 14px;
    vertical-align: center;
    margin-left: 10px;
}

#DefaultDistanceValue {
    width: 80px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #222222 ) );
    border: 1px solid #444444;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    vertical-align: center;
}

#FogToggle {
    width: 80px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #444444 ) );
    border-radius: 4px;
}

#FogToggle:hover {
    brightness: 1.2;
}

#FogToggle:active {
    brightness: 1.5;
}

#FogToggle Label {
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
}

#FogToggle:selected {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4b73 ), to( #1a365c ) );
}


.CameraControlHeader Label {
    color: #ffffff;
    font-size: 20px;
}

.CloseButton {
    width: 30px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #444444 ) );
    border-radius: 4px;
    horizontal-align: right;
}

.CloseButton Label {
    color: #ffffff;
    font-size: 16px;
    horizontal-align: center;
    vertical-align: center;
}

.CameraControlContent {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.ControlSection {

    flow-children: down;
    width: 100%;
}

.ControlSection Label {
    color: #ffffff;
    font-size: 16px;
}

.PositionControls {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.CoordControl {
    width: 100%;
    height: 30px;
    flow-children: right;
    margin-bottom: 10px;
}

.CoordControl Label {
    width: 30px;
    color: #ffffff;
    font-size: 14px;
    vertical-align: center;
}

.ControlSection TextEntry {
    width: 80px;
    height: 40px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #222222 ) );
    border: 1px solid #444444;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
    vertical-align: center;
}



.PresetButtons {
    flow-children: right;
    margin-top: 10px;
    horizontal-align: center;
    width: 100%;
}

.PresetButton {
    width: 100px;
    height: 40px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #444444 ) );
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.PresetButton Label {
    color: #ffffff;
    font-size: 14px;
    horizontal-align: center;
    vertical-align: center;
}




.AngleControls {
    width: 100%;
    flow-children: down;
    margin-top: 5px;
}


.ArrowButtons {
    flow-children: right;
    height: 100%;
}

.ArrowButton {
    width: 24px;
    height: 24px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #333333 ) );
    border-radius: 2px;
    margin-left: 2px;
    vertical-align: center;
}

.ArrowButton:hover {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #555555 ), to( #444444 ) );
}

.ArrowButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( #222222 ) );
}

.ArrowButton Label {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
}

.SliderRow {
    width: 100%;
    flow-children: right;
    horizontal-align: center;
    padding: 0px 20px;
}


.SliderContainer {
    width: 100px;  /* 固定宽度 */
    flow-children: down;

}


.SliderContainer Label {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
    horizontal-align: center;
    text-align: center;
}

.SliderContainer Slider {
    height: 100px;
    margin-bottom: 5px;
    horizontal-align: center;
}

.SliderContainer TextEntry {
    width: 80px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #222222 ) );
    border: 1px solid #444444;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    horizontal-align: center;
}

.TerrainControls,
.ViewportControls,
.UnitFollowControls {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.ToggleButton {
    width: 200px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #333333 ) );
    border-radius: 4px;
    margin-bottom: 10px;
}

.ToggleButton:selected {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #666666 ), to( #555555 ) );
}

.ToggleButton Label {
    color: #ffffff;
    font-size: 14px;
    horizontal-align: center;
    vertical-align: center;
}

.ControlButton {
    width: 150px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #333333 ) );
    border-radius: 4px;
    margin: 5px;
}

.ControlButton Label {
    color: #ffffff;
    font-size: 14px;
    horizontal-align: center;
    vertical-align: center;
}

.CameraActionControls {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.ActionInputRow {
    width: 100%;
    height: 40px;
    flow-children: right;
    margin-bottom: 10px;
    horizontal-align: center;
}
.ActionGroup {
    flow-children: down;
    width: 100%;
}


.TimeInput {
    width: 60px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #222222 ) );
    border: 1px solid #444444;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
    vertical-align: center;
}

.ActionButtonsRow {
    flow-children: right;
    width: 100%;
    margin-bottom: 10px;
}

.ActionButton {
    width: 110px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #444444 ) );
    border-radius: 4px;
    margin: 0px 5px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

/* 已记录位置的按钮样式 */
.ActionButton.Recorded {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4b73 ), to( #1a365c ) );
    box-shadow: 0px 0px 8px #4b7dbc40;
}

/* 未记录位置的播放按钮样式 */
.ActionButton.Disabled {
    opacity: 0.5;
    saturation: 0.5;
}

.ActionButton.Recorded:hover {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #385d8c ), to( #234775 ) );
}

.ActionButton Label {
    color: #ffffff;
    font-size: 14px;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 1px 1px 2px #000000;
}


/* 高度偏移控制样式 */
.DotaCamHeight_Container {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}




/* 地形调整控制样式 */
.DotaCamTerrain_Container {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.DotaCamTerrain_Toggle {
    width: 200px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #333333 ) );
    border-radius: 4px;
    margin: 5px auto;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.DotaCamTerrain_Toggle:selected {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4b73 ), to( #1a365c ) );
    box-shadow: 0px 0px 8px #4b7dbc40;
}

/* 视口间隙控制样式 */
.DotaCamViewport_Container {
    width: 100%;
    flow-children: down;
    margin-top: 10px;
}

.DotaCamViewport_Row {
    width: 100%;
    flow-children: right;
    horizontal-align: center;
}

.DotaCamViewport_SliderGroup {
    width: 150px;
    flow-children: down;
    margin: 0px 10px;
}

.DotaCamViewport_Slider {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
}

.DotaCamViewport_Value {
    width: 60px;
    height: 30px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222 ), to( #222222 ) );
    border: 1px solid #444444;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    horizontal-align: center;
}